$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$blue-palette: (
  50: #f0f5fa,
  100: #dfefff,
  200: #96c5e5,
  300: #74a4cc,
  400: #74a4cc,
  500: #4979ab,
  600: #4979ab,
  700: #4979ab,
  800: #355e93,
  900: #24467b,
  A100: #74a4cc,
  A200: #4979ab,
  A400: #4979ab,
  A700: #4979ab,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$yellow-palette: (
  50: #fcf6de,
  100: #fcf6de,
  200: #f6e5a1,
  300: #efda6a,
  400: #dfc444,
  500: #cba60f,
  600: #b89300,
  700: #b89300,
  800: #b89300,
  900: #b89300,
  A100: #dfc444,
  A200: #cba60f,
  A400: #cba60f,
  A700: #b89300,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$red-palette: (
  50: #c13823,
  100: #c13823,
  200: #c13823,
  300: #c13823,
  400: #c13823,
  500: #a6301e,
  600: #a6301e,
  700: #a6301e,
  800: #a6301e,
  900: #a6301e,
  A100: #c13823,
  A200: #a6301e,
  A400: #a6301e,
  A700: #a6301e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
